body{
  width:60%;
  margin:auto;
}
#quote{
  text-align:left;
}
#picture{
  float:left;
}
h1,h2{
  height10px;
}
#mainmenu{
  text-align:right;
  background-color:chocolate;
  margin-top:20px;
  Padding:10px;
  Color:white;
  font-weight:bold;
}
