body{
  width:70%;
  margin:auto;
  border:5px solid black;
}

#picture{
  float:left;
  width:70%;
  border:5px solid black;
}

#aboutus{
  background-color:black;
  color:white;
  font-size:14px;
}


