body{
  width:100%;
  margin:auto;
  border:5px solid black;
}

#picture{
  float:centre;
  width:90%;
  border:5px solid red;
}

#aboutus{
  background-color:black;
  color:white;
  font-size:14px;
}


