body{
  width:60%;
  margin:auto;
  border:10px solid black;
  paddig:50px;
}

#picture{
  float:left;
  width:25%;
}

#quote{
  float:right;
}

#mainmenu{
  text-align:right;
  background-color:red;
  margin-top:20px;
  padding:10px;
  color:yellow;
  font-weight:bold;
}

#awards{
  width:40%;
  height:100px;
  float:right;
  margin-bottom:0px;
}

#about{
  width:40%;
  height:100px;
  float:left;
}

#awardshead{
  backgrond-color:#red;
  color:black;
  padding;10px;
  margin-bottom:0px;
}

#abouthead{
  backgrond-color:red;
  color:black;
  padding;10px;
  margin-bottom:0px;
}  


#marqueestyle{
  backgrond-color:#FFEBCD;
  color:black;
  padding;10px;
  height:100px;
}


#aboutdesc{
  backgrond-color:#FFEBCD;
  padding;10px;
  text-align:justify;
}    
